


.navBar{
    position: fixed;
    height: 100%;
    width: 5%;
    
    background-color: #060635;
}

/* navbar.......................... */
.navigations{
    padding-top: 180px;
    padding-left: 10px;;

}
.fa-solid{
    display: list-item;
    color: aliceblue;
    size: 2px;
    padding: 10px;
    size: 10px;
}
.fa-brands{
    display: list-item;
    color: aliceblue;
    size: 2px;
    padding: 10px;
    size: 10px;
}
.fa-brands:hover{
    color: aqua;
}
.fa-solid:hover{
    color: aqua;
}
.buttons{
    background-color: transparent;
    border-color: transparent;
}


   /* about..................................... */
.about{
    padding-left: 5%;
    display: flex;
    padding-bottom: 5%;


}
#name{
    font-family: 'Fredoka One', cursive;
    font-family: 'Kanit', sans-serif;
    color: rgb(237, 237, 237);
}



.texts{
    width: 50%;
    height: 100%;
    padding-top: 15%;
    padding-left: 5%;


}

.threedview{
    padding-top: 9%;
    width: 50%;
    height: 100%;
    
    *display: inline-block;
    vertical-align: top;
}
model-viewer{
    padding: 6%;
    width: 600px;
    height: 400px;
}


/* work.................................................................. */

.work{
    width: 50%;
    height: auto;
   
    
}
.playstorehead h1{
    text-align: center;
    font-size: 30px;
    margin-bottom: -5px;
}
.playstorehead h1 span{
    color: #e74d06;

}
.playstorehead p{
    text-align: center;

}
.cards{
   
    padding-bottom: 1000px;
    display: flex;
}
.playBut{
    height: height 6%;
}
.games{
    padding-right: 20%;
}
.gamename{
    font-size: large;
    color: aliceblue;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.playi{
    padding-bottom: 10%;
    height: 400px;
    transition: 200ms transform;
    
}

.playi :hover{
    cursor: pointer;
    transform: translateY(-2px);
    
}

 /* gaming ..................................... */
.gaming{
  width: 50%;
  
}
.playstorebody{
    display: flex;
}

 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --orange: rgb(30, 200, 231);
    --winning-blocks: #2c383e;
}

body {
    color: var(--orange);
    font-family: 'Finger Paint', cursive;
    background-image: linear-gradient(to top left , #110c52,rgb(0, 0, 0));
    box-sizing: border-box;
}
h1 {
    font-size: 54px;
    text-transform: uppercase;
}

.container {
    padding: 40px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: #416678; */
}

#gameboard {
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}
.box {
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--orange);
    font-size: 120px;
    border-right: 2px solid;
    border-bottom: 2px solid;
}
.box:nth-child(3n) {
    border-right: none;
}
.box:nth-child(6) ~ .box {
    border-bottom: none;
} 
#restartBtn {
    padding: 10px 20px;
    border-radius: 10px;
    background-color: var(--orange);
    color: #333;
    border-color: var(--orange);
    font-size: 18px;
    transition: 200ms transform;
    font-weight: 600;
}
#restartBtn:hover {
    cursor: pointer;
    transform: translateY(-2px);
}




/* ....................skills.................................... */
.skillsco{
    padding-bottom: 10%;
}

.skills_section{
    width: 100%;
    height: 100vh;
    padding: 0px 13%;
    background-color: rgba(0, 0, 0, 0.082);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.skills_head{
    width: 100%;
    margin-bottom: 100px;
    display: grid;
    place-items: center;
    text-align: center;
}
.skills_head h2{
    font-size: 30px;
    margin-bottom: -5px;
}
.skills_head h2 span{
    color: #e74d06;
}
.skills_main{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 50px;
}
.skills_main .skill_bar .info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  0 10px;
}
.skill_bar .info p:nth-child(2){
    font-weight: 500;
}
.skill_bar .bar{
    width: 100%;
    height: 10px;
    background-color: rgba(0, 0, 0, 0.144);
    border-radius: 25px;
    margin-top: 5px;
    position: relative;
}
.skill_bar .bar span{
    width: 50%;
    height: 100%;
    position: absolute;
    background-color: #06e72c;
    border-radius: 25px;
}
.skill_bar .bar .html{
    width: 90%;
    animation: html 2s;
}
@keyframes html {
    0%{
        width: 0%;
    }100%{
        width: 90%;
    }
}
.skill_bar .bar .css{
    width: 85%;
    animation: css 2s;
}
@keyframes css {
    0%{
        width: 0%;
    }100%{
        width: 85%;
    }
}
.skill_bar .bar .sass{
    width: 80%;
    animation: sass 2s;
}
@keyframes sass {
    0%{
        width: 0%;
    }100%{
        width: 80%;
    }
}
.skill_bar .bar .js{
    width: 80%;
    animation: css 2s;
}
@keyframes js {
    0%{
        width: 0%;
    }100%{
        width: 80%;
    }
}
.skill_bar .bar .react{
    width: 75%;
    animation: react 2s;
}
@keyframes react {
    0%{
        width: 0%;
    }100%{
        width: 75%;
    }
}
.skill_bar .bar .node{
    width: 70%;
    animation: node 2s;
}
@keyframes node {
    0%{
        width: 0%;
    }100%{
        width: 70%;
    }
}
.skill_bar .bar .express{
    width: 65%;
    animation: express 2s;
}
@keyframes express {
    0%{
        width: 0%;
    }100%{
        width: 65%;
    }
}
.skill_bar .bar .mongo{
    width: 60%;
    animation: mongo 2s;
}
@keyframes mongo {
    0%{
        width: 0%;
    }100%{
        width: 60%;
    }
}

